*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

/* header  starts here*/
header{
    width: 100%;
    height: 100vh;
    background: url(pics/mountain.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 17px;
}

a{
    text-decoration: none;
    color: white;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    height: 20px;
}
/* li hover */
nav ul li a:hover{
  border-bottom: 2px solid rgb(158, 37, 0);
  color: rgb(236, 43, 43);
  transition: .4s;
}

/* signup button */
.btn-1 button{
    border: none;
    background: transparent;
    margin-left: 20px;
    font-size: 17px;
}

/* top-para  */
.top-para{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 150px;
}
.top-para p{
    padding: 20px 0 40px 0;
    word-spacing: 4px;
}
/* explore button  */
.top-para button{
    padding: 10px 40px;
    background: transparent;
    border-radius: 20px;
    border: 3px solid rgb(255, 115, 0);
    cursor: pointer;
}
/* button hover */
.top-para button:hover{
    background-color: rgba(244, 98, 8, 0.737);
    border: none;
    transition: .4s;
}
/* header ends here */

     /* section-1 starts here */
#sec-1{
    height: 100vh;
    margin-bottom: 50px;
}
    /* para-1 */
.para1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}
.para1 span{
    color: rgb(248, 132, 38);
}
/* hotels */
.hotels{
    display: flex;
}
.img-1{
    width: 50%;
    height: auto;

}
.img-1 img{
    width: 400px;
    height:350px;
}
/* form */
.form{
    width: 50%;
    height: 50vh;
}
.form input{
    /* padding: 20px 400px 20px 15px; */
    padding-left: 20px;
    width: 90%;
    height: 55px;
    background-color: rgb(245, 245, 245);
    margin-left: 20px;
    border: none;    
}
/* dropdowns */
select{
    border: none;
    background-color: rgb(245, 245, 245);
    padding-left: 15px;
}

/* dropdown-1 */
.drop1 select{
    width: 45%;
    height: 55px;
    margin: 20px 4px;
}
.drop1 {
    padding-left: 15px;
}

/* dropdown-2 */
.drop2 select{
    width: 45%;
    height: 55px;
    margin: 4px;
}
.drop2 {
    padding-left: 15px;
}

/* button */
.form button{
    padding: 10px 226px;
    background-color: rgb(239, 98, 16);
    margin: 20px ;
    border: none;    
    font-size: 20px;
    cursor: pointer;
}
.form button:hover{
    transition: .5s;
    background-color: rgb(245, 245, 245);
}
.form button:hover a{
    color: rgb(249, 75, 0);
}

/* section-1 ends here */
    
/* section-2 starts here */
#sec-2{
    display: flex;
    margin: 0 30px;
    height: 180vh;
}
.needtoknow{
    width: 30%;
}

.pics{
    width: 80%;
    height: 54vh;
}
.needtoknow div button{
   background: transparent;
   border: none;
   margin-bottom: 20px;
}
.needtoknow div button a{
    color: red;
 }
.needtoknow div p{
    font-size: 30px;
}
.needtoknow div{
    height: 42vh;
    margin-top: 12px;
}
.needtoknow div img{
    width: 350px;
    height: 220px;
}
.needtoknow div span{
    color: white;
    position:relative;
    bottom: 30px;
    font-size: 25px;
    padding: 0 132px;
    background-color: rgba(0, 0, 0, 0.4);
}
.seasons{
    width: 70%;
    height: auto;
}

/* seasons */
.autumnpics{
    display:flex;
    height: 26vh;
    margin-bottom: 100px;
}
.autumnpics div{
   margin-right: 5px;
}
.autumnpics div span{
    color: white;
    position:relative;
    bottom: 30px;
    font-size: 25px;
    padding: 0 83px;
    background-color: rgba(0, 0, 0, 0.4);
 }
.autumnpics img{
    width: 277px;
    height: 200px;
}
/* culture */
.culture img{
    width: 850px;
    height:330px;
}
.culture span{
    color: white;
    position:relative;
    bottom: 30px;
    font-size: 25px;
    padding: 0 267px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* section-2 ends here */

/* section-3 starts here */
/* places to visit  */
.visiting{
    font-size: 30px;
    margin: 10px 50px;
}
.places{
    display: flex;
}
.places div img{
    width: 390px;
    margin-bottom: 10px;
    height: 50vh;
}
.places div span{
    color: white;
    position:relative;
    bottom: 40px;
    font-size: 25px;
    padding: 0 145px;
    background-color: rgba(0, 0, 0, 0.4);
}
.places div{
    margin-left: 25px;
    text-align: center;
}
.places div button{
    color: red;
    border: none;
    background: transparent;
    margin-top: 10px;
    cursor: pointer;
}

/* section-3 ends here */
    
/* section-4 starts here */
/* trip */
#sec-4 h1{
    padding: 50px 0px 10px 50px;
    font-size: 50px;
}
.trip{
    display: flex;
    margin: 30px 30px 50px 30px;
    width:auto;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}
.trip div p span{
    font-size: 30px;
    color: black;
}
.trip div p{
    padding: 10px 50px;
   word-spacing: 3px;
   font-size: 25px;
   color: rgb(83, 82, 82);
}
.trip div button{
    background: transparent;
    border: none;
    color: red;
    margin:20px 50px;
    font-size: 15px;
    cursor: pointer;
}
/* picture */
.trip div img{
    width: auto;
    height: 300px;
}
/* summer vocation */

.summervocation{
    display: flex;
    margin: 90px 30px;
    width:auto;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}
.summervocation div p span{
    font-size: 30px;
    color: black;
}
.summervocation div p{
    padding: 10px 50px;
   word-spacing: 3px;
   font-size: 25px;
   color: rgb(83, 82, 82);
}
.summervocation div button{
    background: transparent;
    border: none;
    color: red;
    margin:20px 50px;
    font-size: 15px;
    cursor: pointer;
}
/* picture */
.summervocation div img{
    width: 600px;
    height: 300px;
}
/* .video{
    width: auto;
    height: 100vh;
} */

/* enter your email */
#sec-4 .email{
padding-top: 60px;
align-items: center;
text-align: center;
width: auto;
height: 40vh;
background-image: url(pics/mountain.webp);
background-repeat: no-repeat;
background-size: cover;
}
.email p{
    color: white;
    font-size: 24px;
    word-spacing: 3px;
    padding-bottom: 10px;
}
.email input{
    width: 30%;
    height: 50px;
    background: transparent;
    border: 1px solid white;
}
.email button{
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
/* section-4 ends here */

/* footer starts here */
footer{
    display: flex;
    justify-content: space-around;
    list-style: none;
    line-height: 40px;
    color: wheat;
    padding-top: 50px;
    width: auto;
    height: 60vh;
    border: 1px solid white;
    background: rgb(23, 23, 23);
}
.travel h3 span{
    color: rgb(255, 94, 0);
}
